{% extends 'Blog/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
<div class="container-fluid">
    <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-12">
                <form action="/Blog/buscar/" method="GET" class="form-inline tm-mb-80 tm-search-form">                
                    <input class="form-control tm-search-input" name="query" type="text" placeholder="Buscar categoría..." aria-label="Search">
                    <button class="tm-search-button" type="submit">
                        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                    </button>                                
                </form>
            </div>                
        </div>            
        <div class="row tm-row">
            {% for post in object_list %}
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="{% url 'post_detail' post.id %}" class="effect-lily tm-post-link tm-pt-60">
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{post.titulo}}</h2>
                    </a>                    
                    <p class="tm-pt-30">
                        {{post.resumen}}
                    </p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">{{post.categoria}}</span>
                        <span class="tm-color-primary">{{post.fecha}}</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>by {{post.autor}}</span>
                    </div>
                </article>
            </li>
            {% endfor %}
        </div>
        <div class="row tm-row tm-mt-100 tm-mb-75">
            <div class="tm-prev-next-wrapper">
                <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
            </div>
            <div class="tm-paging-wrapper">
                <span class="d-inline-block mr-3">Página</span>
                <nav class="tm-paging-nav d-inline-block">
                    <ul>
                        <li class="tm-paging-item active">
                            <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                        </li>
                        <li class="tm-paging-item">
                            <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                        </li>
                        <li class="tm-paging-item">
                            <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                        </li>
                        <li class="tm-paging-item">
                            <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                        </li>
                    </ul>
                </nav>
            </div>                
        </div>  
        
        {% block footer %}
        <footer class="row tm-row">
            <hr class="col-12">
            <div class="col-md-6 col-12 tm-color-gray">
                By Nontué Aro
            </div>
            <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                Comisión: 31075 - Año 2022
            </div>
        </footer>
        {% endblock %}
    </main>
</div>


{% endblock %}